.general{

        width: 250px;
        margin: 0 auto;
        text-align: center;
        background-color: #f1f1f1;
        border-radius: 5px;
        padding: 45px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

p{
    border: black solid 1px;

}
.button{
    
    display: flex;
    justify-content: space;
    
} 
button{
    width: 30%;
}
#igual{
width: 100%;
}

#display{
    width: 98%;
    height: 50px;
    background-color: rgb(193, 241, 103);
    text-align: right;
}